body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #a4a4a4;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
t

.content {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 60%;
  text-align: center;
}

.button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.videoContainer {
  width: 640px;
  height: 360px;
  margin: 20px auto 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 100%;
  border: none;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 10px;
  color: #888;
}

.placeholderText {
  font-size: 20px;
  font-weight: bold;
}
